.second>img{
    width:350px;
    height: 250px;
}
.flex_container-1{
    display: flex;
    justify-content: space-between;
}
.circle{
    width:60px;
    height:60px;
    border:2px solid silver;
    border-radius:100%;
    text-align:center;
    font-size: 40px;
    position: absolute;
    left:80%;
    top:10px
}
.title{
    display: inline
}
.title+p{
    margin-left: 5px;
    display: inline
}
.regist>div{
    margin-bottom: 44px
}
.left_section{
    flex-basis: 80%
}
.right_section{
    flex-basis: 40%
}
.registration{
    width:200px;
    margin:0 auto
}
hr{
    margin-top: 5px;
}
.flex_container-3>div{
    margin-bottom: 5px
}