.second>img{
    width:350px;
    height: 250px;
}
.flex_container-1{
    display: flex;
    justify-content: space-between;
}
.title{
    display: inline
}
.title+p{
    margin-left: 5px;
    display: inline
}
.regist>div{
    margin-bottom: 44px
}
.left_section{
    flex-basis: 80%
}
.right_section{
    flex-basis: 40%
}
.registration{
    width:200px;
    margin:0 auto
}
